.allText{
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.bodyClass{
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
}